@tailwind base;
@tailwind components;
@tailwind utilities;

.card-title {
    font-size: 1.2rem;
    font-weight: bold;
    --max-lines: 2;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--max-lines);
    word-wrap: break-word;
}

.card-body {
    margin: 0.5rem 0;
    --max-lines: 2;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--max-lines);
}

.note-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.detail-title {
    font-size: 1.3rem;
    font-weight: bold;
}

@media (max-width: 992px) {
    .note-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }

    .detail-wrapper {
        width: 70%;
    }
}

@media (max-width: 768px) {
    .note-wrapper {
        display: flex;
        flex-direction: column;
    }

    .detail-wrapper {
        width: 80%;
    }
}

@media (max-width: 580px) {
    .detail-wrapper {
        width: 90%;
    }
}